body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100% ;
}
.link-button{
    text-decoration: none;
    background-color: rgba(255, 172, 19, 0.959);
    padding: 10px 10px;
    
}